<div class="col-md-12">
  <ul class="breadcrumb">
  <li><a href="/">Return to Activity Index</a></li>
  <li class="active">{{activityIndividual.title}}</li>
</ul>

</div>
<div class="col-md-8 col-md-offset-2">
    {{#each thisActivity}}
        <div class="panel panel-default" data-id="{{ title }}" data-category="{{ name }} {{ cost }} {{energy}} {{time}} {{location}} {{party}} {{adult}}">
            <!-- panel default -->
            <div class="panel-heading">
                <!-- panel heading -->
                <a class="thumb-title" href="#">{{title}}</a>
            </div>
            <!-- panel heading -->
            <div class="panel-body text-center">
                <!-- panel body -->
                <div class="col-md-6">
                    <img class="show-img_url" src="{{img_url}}" alt="{{title}}">
                </div>
                <div class="col-md-6 text-center">
                  <h3>Activity Details</h3>
                  <ul class="text-left">
                    <li class="li-attr">With who: {{party}}</li>
                    <li class="li-attr">In or out: {{location}}</li>
                    <li class="li-attr">Cost: {{cost}}</li>
                    <li class="li-attr">Energy level: {{energy}}</li>
                    <li class="li-attr">Time: {{time}}</li>
                    <li class="li-attr">Age: {{adult}}</li>
                  </ul>
                  <span class="label label-primary">{{name}}</span>
                </div>
                <div class="col-md-12 well show-well">
                  <p>{{description}}</p>
                  <!-- <div class="col-md-8 text-left">
                  </div> -->

                </div>
            </div>
            <!-- panel body -->
        </div>
        <!-- panel default -->
    {{/each}}
</div>
