
<div class="row">

  {{#each allActivities}}

  <div class="col-md-4">
    <div class="card">
      <div class="card-content">
        <a href="./activities/{{id}}">
        <div class="card-header">
          <h1 class="card-heading">{{title}}</h1>
        </div>
        <div class="card-body">
          <img class="img_url" src="{{img_url}}" alt="{{title}}">
       	</div>
      </a>

          <div class="well text-center">
            <span class="label label-primary">{{time}}</span>
            <span class="label label-success">{{cost}}</span>
            <span class="label label-info">{{party}}</span>
            <span class="label label-warning">{{location}}</span>
            <span class="label label-danger">{{energy}}</span>
          </div>
          <div>{{allActivities.allCategories}}</div>

          <form action="/activities/{{id}}?_method=DELETE" method="POST">
         <input class="btn btn-sm btn-danger" type="submit" name="delete" value="Delete Activity">
          </form>


           <a href="activities/{{id}}/edits"><button class="btn btn-sm btn-danger">Edit Activity</button></a><br>
           <br>

           {{#each ../data.allCategories}}
            <div>{{name}}</div>
           {{/each}}



       </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
