<script defer type="text/javascript" src="/js/filter.js"></script>
<!--  -->
<!--  -->
  <div id="sidebar">
      <div class="col-md-12">
            <h2>Filter</h2>
            <!-- Categories -->
                <form>
                  <h4>Categories</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Active" id="Active" /> Active</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Creative" id="Creative" /> Creative</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Entertainment" id="Entertainment" /> Entertainment</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Food" id="Food" /> Food</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Relaxing" id="Relaxing" /> Relaxing</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Romantic" id="Romantic" /> Romantic</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" checked="true" name="categ" value="Social" id="Social" /> Social</label>
                </form>

          <!-- Attributes -->
            <!-- Cost -->
            <div class="col-xs-4 sidebar-col">
                <form>
                  <h4>Cost</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" name="attrib" value="💰" id="💰" /> 💰</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="attrib" value="💰💰" id="💰💰" /> 💰💰</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="attrib" value="💰💰💰" id="💰💰💰" /> 💰💰💰</label>
                </form>
            </div>
            <!-- Energy -->
            <div class="col-xs-4 sidebar-col">
                <form>
                  <h4>Energy</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" name="energy" value="⚡️" id="⚡️" /> ⚡️</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="energy" value="⚡️⚡️" id="⚡️⚡️" /> ⚡️⚡️</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="energy" value="⚡️⚡️⚡️" id="⚡️⚡️⚡️" /> ⚡️⚡️⚡️</label>
                </form>
            </div>
            <!-- time -->
            <div class="col-xs-4 sidebar-col">
                <form>
                  <h4>Time</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" name="time" value="⏰" id="⏰" /> ⏰</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="time" value="⏰⏰" id="⏰⏰" /> ⏰ ⏰</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="time" value="⏰⏰⏰" id="⏰⏰⏰" /> ⏰ ⏰ ⏰</label>
                </form>
            </div>
            <!-- Location -->
            <div class="col-xs-6 sidebar-col">
                <form>
                  <h4>Location</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" name="location" value="🌳" id="🌳" /> 🌳</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="location" value="🏠" id="🏠" /> 🏠</label>
                </form>
            </div>
            <!-- Adult -->
            <div class="col-xs-6 sidebar-col">
              <form>
                <h4>Adult</h4>
                <label style="font-size:12px;">
                  <input type="checkbox" name="adult" value="Yes" id="adultYes" /> Yes</label>
                  <br>
                  <label style="font-size:12px;">
                    <input type="checkbox" name="adult" value="No" id="adultNo" /> No‍</label>
                  </form>
                </div>
            <!-- Party -->
            <div class="col-xs-12 sidebar-col">
                <form>
                  <h4>Party</h4>
                    <label style="font-size:12px;">
              <input type="checkbox" name="party" value="👯" id="👯" /> 👯 (Friends)</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="party" value="👨‍👩‍" id="👨‍👩‍" /> 👨‍👩‍ (Family)</label>
                    <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="party" value="💑" id="💑" /> 💑 (Date)</label>
              <br>
                    <label style="font-size:12px;">
              <input type="checkbox" name="party" value="🙋'" id="🙋" /> 🙋 (Solo)</label>
                </form>
            </div>
      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
        <!-- <div class="row"> -->
            {{#each allActivities}}
            <div class="col-md-6 activity"
              data-id="{{ title }}"
              data-category="{{ name }} {{ cost }} {{energy}} {{time}} {{location}} {{party}} {{adult}}">
              <div class=" panel panel-default"> <!-- panel default -->
                <div class="panel-heading"> <!-- panel heading -->
                  <a class="thumb-title" href="./activities/{{id}}">{{title}}</a>
                </div> <!-- panel heading -->
                <div class="panel-body text-center"> <!-- panel body -->
                  <div class="col-md-6">
                    <img class="img_url" src="{{img_url}}" alt="{{title}}">
                  </div>
                  <div class="col-md-6 text-center">
                    <ul class="text-left">
                    <li class="li-attr">Party: {{party}}</li>
                    <li class="li-attr">Where: {{location}}</li>
                    <li class="li-attr">Cost: {{cost}}</li>
                    <li class="li-attr">Energy: {{energy}}</li>
                    <li class="li-attr">Time: {{time}}</li>
                    <li class="li-attr">Adult Oriented: {{adult}}</li>
                  </ul>
                  <span class="label label-primary">{{name}}</span>
                  </div>
                </div>
                </div> <!-- panel body -->
              </div> <!-- panel default -->
            <!-- </div> -->
            {{/each}}
        </div>
      </div>
  </div>
<!--  -->
