<script defer type="text/javascript" src="/js/filter.js"></script>
<!--  -->
<!--  -->
  <div id="sidebar">
      <div class="col-md-12">
            <h2>Filter</h2>
            <!-- Categories -->
                <form>
                  <h4>Categories</h4>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Active" id="Active" /> Active</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Creative" id="Creative" /> Creative</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Entertainment" id="Entertainment" /> Entertainment</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Food" id="Food" /> Food</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Relaxing" id="Relaxing" /> Relaxing</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Romantic" id="Romantic" /> Romantic</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" checked="true" name="categ" value="Social" id="Social" /> Social</label>
                </form>

          <!-- Attributes -->
            <!-- Cost -->
            <div class="col-xs-6 sidebar-col">
                <form>
                  <h4>Cost</h4>
                    <label class="li-col">
              <input type="checkbox" name="attrib" value="💰" /> 💰</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="attrib" value="💰💰" /> 💰💰</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="attrib" value="💰💰💰"/> 💰💰💰</label>
                </form>
            </div>
            <!-- Energy -->
            <div class="col-xs-6 sidebar-col">
                <form>
                  <h4>Energy</h4>
                    <label class="li-col">
              <input type="checkbox" name="energy" value="⚡️" /> ⚡️</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="energy" value="⚡️⚡️" /> ⚡️⚡️</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="energy" value="⚡️⚡️⚡️" /> ⚡️⚡️⚡️</label>
                </form>
            </div>
            <!-- time -->
            <div class="col-xs-12 sidebar-col">
                <form>
                  <h4>Time</h4>
                    <label class="li-col">
              <input type="checkbox" name="time" value="⏳" /> ⏳ 0-1 hrs</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="time" value="⏳⏳" /> ⏳⏳ 1-3 hrs</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="time" value="⏳⏳⏳" /> ⏳⏳⏳ 3+ hrs</label>
                </form>
            </div>
            <!-- Location -->
            <div class="col-xs-7 sidebar-col">
                <form>
                  <h4>Location</h4>
                  <label class="li-col">
                    <input type="checkbox" name="location" value="🏠" /> 🏠 Inside</label>
                    <br>
                    <label class="li-col">
                      <input type="checkbox" name="location" value="🌳" /> 🌳 Outside</label>
                </form>
            </div>
            <!-- Adult -->
            <div class="col-xs-5 sidebar-col">
              <form>
                <h4>Age</h4>
                <label class="li-col">
                  <input type="checkbox" name="adult" value="🥂" /> 🥂 18+</label>
                  <br>
                  <label class="li-col">
                    <input type="checkbox" name="adult" value="🍼" /> 🍼 Any</label>
                  </form>
                </div>
            <!-- Party -->
            <div class="col-xs-12 sidebar-col">
                <form>
                  <h4>Who with?</h4>
                    <label class="li-col">
              <input type="checkbox" name="party" value="😎" /> 😎 Friends</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="party" value="👶" /> 👶 Family</label>
                    <br>
                    <label class="li-col">
              <input type="checkbox" name="party" value="❤️" /> ❤️ Date</label>
              <br>
                    <label class="li-col">
              <input type="checkbox" name="party" value="🙋" /> 🙋 Solo</label>
                </form>
            </div>
      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
        <!-- <div class="row"> -->
            {{#each allActivities}}
            <div class="col-md-6 activity"
              data-id="{{ title }}"
              data-category="{{ name }} {{ cost }} {{energy}} {{time}} {{location}} {{party}} {{adult}}">
              <div class=" panel panel-default"> <!-- panel default -->
                <div class="panel-heading"> <!-- panel heading -->
                  <a class="thumb-title" href="./activities/{{id}}">{{title}}</a>
                </div> <!-- panel heading -->
                <div class="panel-body text-center"> <!-- panel body -->
                  <div class="col-md-7">
                    <img class="img_url" src="{{img_url}}" alt="{{title}}">
                  </div>
                  <div class="col-md-5">
                    <ul class="text-left li-attr">
                    <li class="li-attr">With who: {{party}}</li>
                    <li class="li-attr">In or out: {{location}}</li>
                    <li class="li-attr">Cost: {{cost}}</li>
                    <li class="li-attr">Energy level: {{energy}}</li>
                    <li class="li-attr">Time: {{time}}</li>
                    <li class="li-attr">Age: {{adult}}</li>
                  </ul>
                  <span class="label label-primary">{{name}}</span>
                  </div>
                </div>
                </div> <!-- panel body -->
              </div> <!-- panel default -->
            <!-- </div> -->
            {{/each}}
        </div>
      </div>
  </div>
<!--  -->
