<script defer type="text/javascript" src="/js/filter.js"></script>
<!--  -->

<div class="row">
  <h1>Filter</h1>
  <!-- Categories -->
    <div class="col-xs-4">
        <ul id="categoryFilters" class="filterSection">
            <strong>Categories:</strong>
            <li>
                <input class="checkbox" id="relaxing" checked="true" type="checkbox" value="Active" />
                <label>Active</label>
            </li>
            <li>
                <input class="checkbox" id="social" checked="false" type="checkbox" value="Creative" />
                <label>Creative</label>
            </li>
            <li>
                <input class="checkbox" id="relaxing" checked="true" type="checkbox" value="Entertainment" />
                <label>Entertainment</label>
            </li>
            <li>
                <input class="checkbox" id="social" checked="false" type="checkbox" value="Food" />
                <label>Food</label>
            </li>
            <li>
                <input class="checkbox" id="relaxing" checked="true" type="checkbox" value="Relaxing" />
                <label>Relaxing</label>
            </li>
            <li>
                <input class="checkbox" id="social" checked="false" type="checkbox" value="Romantic" />
                <label>Romantic</label>
            </li>
            <li>
                <input class="checkbox" id="social" checked="false" type="checkbox" value="Social" />
                <label>Social</label>
            </li>
        </ul>
    </div>
    <!-- Attributes -->
    <div class="col-xs-4">
        <ul id="categoryFilters" class="filterSection">
            <strong>Attributes:</strong>
            <li>
                <input class="checkboxA" id="cost1" checked="false" type="checkbox" value="💰" />
                <label>💰</label>
            </li>
            <li>
                <input class="checkboxA" id="cost2" checked="false" type="checkbox" value="💰💰" />
                <label>💰💰</label>
            </li>
            <li>
                <input class="checkboxA" id="cost3" checked="false" type="checkbox" value="💰💰💰" />
                <label>💰💰💰</label>
            </li>
            <li>
                <input class="checkboxE" id="energy1" checked="false" type="checkbox" value="⚡️" />
                <label>⚡️</label>
            </li>
            <li>
                <input class="checkboxE" id="energy2" checked="false" type="checkbox" value="⚡️⚡️" />
                <label>⚡️⚡️</label>
            </li>
            <li>
                <input class="checkboxE" id="energy3" checked="false" type="checkbox" value="⚡️⚡️⚡️" />
                <label>⚡️⚡️⚡️</label>
            </li>
        </ul>
    </div>

</div>

<div class="row">
  <ul>
    {{#each allActivities}}
    <div class="col-md-4 infotest"
      data-category="{{ name }}"
      data-attr="{{ cost }}"
      data-energy="{{energy}}">
      <div class="card">
        <div class="card-content">
          <a href="./activities/{{id}}">
            <div class="card-header">
              <h1 class="card-heading">{{title}}</h1>
            </div>
            <div class="card-body">
              <img class="img_url" src="{{img_url}}" alt="{{title}}">
            </div>
          </a>

          <div class="well text-center">
            <span class="label label-primary">{{time}}</span>
            <span class="label label-success">{{cost}}</span>
            <span class="label label-info">{{party}}</span>
            <span class="label label-warning">{{location}}</span>
            <span class="label label-danger">{{energy}}</span>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </ul>
</div>
