<div id="main">
    <div class="col-md-12">
      <!-- <div class="row"> -->
          {{#each postedActivities}}
          <div class="col-md-6 activity"
            data-id="{{ title }}"
            data-category="{{ name }} {{ cost }} {{energy}} {{time}} {{location}} {{party}} {{adult}}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-heading"> <!-- panel heading -->
                <h2>{{title}}</h2>
              </div> <!-- panel heading -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="row">
                <div class="col-md-6">
                  <img class="img_url" src="{{img_url}}" alt="{{title}}">
                </div>
                <div class="col-md-6 text-center">
                  <ul class="text-left">
                  <li class="li-attr">Party: {{party}}</li>
                  <li class="li-attr">Where: {{location}}</li>
                  <li class="li-attr">Cost: {{cost}}</li>
                  <li class="li-attr">Energy: {{energy}}</li>
                  <li class="li-attr">Time: {{time}}</li>
                  <li class="li-attr">Adult Oriented: {{adult}}</li>
                </ul>
                <span class="label label-primary">{{name}}</span>
              </div>
            </div>
              <hr />
              <div class="row">

              <div class="col-md-12">
                <p>{{description}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-6 col-sm-6 text-center">
                <a href="/activities/{{id}}/edits"><button class="btn btn-md btn-danger">Edit</button></a>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <form action="/activities/{{id}}?_method=DELETE" method="POST">
                  <input id="deleteActivity" class="btn btn-md btn-danger" type="submit" name="delete" value="Delete">
                </form>
              </div>
            </div>
              </div>
              </div> <!-- panel body -->
            </div> <!-- panel default -->
          <!-- </div> -->
          {{/each}}
      </div>
    </div>
</div>
