
<h1>My Account</h1>
  {{#each thisUser}}
  <div class="row">
    <div class="col-lg-4">
      <img src="{{avatar_url}}" alt="{{username}} avatar">
    </div>
    <div class="col-lg-4">
      <h2>{{username}}</h2>
      <h2>{{email}}</h2>
    </div>
    <div class="col-lg-4">
      <a href="/sessions/my-posted-activities/" class="btn btn-info">My Posted Activities</a>
      <hr />
      <a href="/users/settings/{{id}}" class="btn btn-primary">My Settings</a>
      <hr />
      <a href="/users/delete/{{id}}" class="btn btn-success">Delete My Account</a>
      <hr />
      <form class="" action="/sessions?_method=DELETE" method="post">
      <input type="submit" name="delete-session" class="btn btn-warning" value="Log Out">
      </form>
    </div>
  </div>
  <div class="row">

  </div>
  {{/each}}
